#kds
drv
framework
platform
ieee_802_15_4
smac
connectivity-generator
debug
release
settings
doxygen
*.doxygen
*.ewt
*.dep
Obj
Exe
List
SET_V_HERE.bat
*.bin
makefile
*.mk
*.prefs
.settings
.settings/
*.wsd
*.log
output/
__pycache__
.vscode/
records/
