
menu "bluetooth"
    config MCUX_COMPONENT_middleware.wireless.ble_host
        bool "Component middleware.wireless.ble_host"
    config MCUX_COMPONENT_middleware.wireless.ble_host_common
        bool "Component middleware.wireless.ble_host_common"
    config MCUX_COMPONENT_middleware.wireless.ble_ncp_common
        bool "Component middleware.wireless.ble_ncp_common"
    config MCUX_COMPONENT_middleware.wireless.ble_host_OPT_component_lib
        bool "Component middleware.wireless.ble_host_OPT_component_lib"
    config MCUX_COMPONENT_middleware.wireless.ble_host_OPT_central_component_lib
        bool "Component middleware.wireless.ble_host_OPT_central_component_lib"
    config MCUX_COMPONENT_middleware.wireless.ble_host_OPT_peripheral_component_lib
        bool "Component middleware.wireless.ble_host_OPT_peripheral_component_lib"
    config MCUX_COMPONENT_middleware.wireless.ble_host_component_lib
        bool "Component middleware.wireless.ble_host_component_lib"
    config MCUX_COMPONENT_middleware.wireless.ble_host_central_component_lib
        bool "Component middleware.wireless.ble_host_central_component_lib"
    config MCUX_COMPONENT_middleware.wireless.ble_host_peripheral_component_lib
        bool "Component middleware.wireless.ble_host_peripheral_component_lib"
    config MCUX_COMPONENT_middleware.wireless.ble_host_matter_component_lib
        bool "Component middleware.wireless.ble_host_matter_component_lib"
        depends on MCUX_HW_BOARD_k32w148evk || MCUX_HW_BOARD_frdmmcxw71
    config MCUX_COMPONENT_middleware.wireless.ble_host_exp_OPT_component_lib
        bool "Component middleware.wireless.ble_host_exp_OPT_component_lib"
    config MCUX_COMPONENT_middleware.wireless.ble_host_exp_OPT_central_component_lib
        bool "Component middleware.wireless.ble_host_exp_OPT_central_component_lib"
    config MCUX_COMPONENT_middleware.wireless.ble_host_exp_OPT_peripheral_component_lib
        bool "Component middleware.wireless.ble_host_exp_OPT_peripheral_component_lib"
    config MCUX_COMPONENT_middleware.wireless.ble_host_interface
        bool "Component middleware.wireless.ble_host_interface"
    config MCUX_COMPONENT_middleware.wireless.ble_host_xml
        bool "Component middleware.wireless.ble_host_xml"
    config MCUX_COMPONENT_middleware.wireless.ble_host_sdk
        bool "Component middleware.wireless.ble_host_sdk"
    config MCUX_COMPONENT_middleware.wireless.ble_host_interface_black_box
        bool "Component middleware.wireless.ble_host_interface_black_box"
    config MCUX_COMPONENT_middleware.wireless.ble_host_interface_host
        bool "Component middleware.wireless.ble_host_interface_host"
    config MCUX_COMPONENT_middleware.wireless.ble_host_interface_genfsk
        bool "Component middleware.wireless.ble_host_interface_genfsk"
    config MCUX_COMPONENT_middleware.wireless.ble_fsci_interface
        bool "Component middleware.wireless.ble_fsci_interface"
    config MCUX_COMPONENT_middleware.wireless.ble_fsci_private_interface
        bool "Component middleware.wireless.ble_fsci_private_interface"
    config MCUX_COMPONENT_middleware.wireless.ble_fsci_source
        bool "Component middleware.wireless.ble_fsci_source"
    config MCUX_COMPONENT_middleware.wireless.ble_ncp_fsci_source
        bool "Component middleware.wireless.ble_ncp_fsci_source"
    config MCUX_COMPONENT_middleware.wireless.ble_fsci_source_handover
        bool "Component middleware.wireless.ble_fsci_source_handover"
    config MCUX_COMPONENT_middleware.wireless.ble_fsci_host
        bool "Component middleware.wireless.ble_fsci_host"
    config MCUX_COMPONENT_middleware.wireless.ble_host_interface_handover
        bool "Component middleware.wireless.ble_host_interface_handover"
    config MCUX_COMPONENT_middleware.wireless.ble_host_handover_component_lib
        bool "Component middleware.wireless.ble_host_handover_component_lib"
    config MCUX_COMPONENT_middleware.wireless.auto
        bool "Component middleware.wireless.auto"
    config MCUX_COMPONENT_middleware.wireless.ble_init_matter
        bool "Component middleware.wireless.ble_init_matter"
        depends on MCUX_HW_BOARD_k32w148evk || MCUX_HW_BOARD_frdmmcxw71
    config MCUX_COMPONENT_middleware.wireless.ble_hci_transport_serial
        bool "Component middleware.wireless.ble_hci_transport_serial"
    config MCUX_COMPONENT_middleware.wireless.ble_hci_transport_rpmsg
        bool "Component middleware.wireless.ble_hci_transport_rpmsg"
    config MCUX_COMPONENT_middleware.wireless.ble_hci_transport_adapter
        bool "Component middleware.wireless.ble_hci_transport_adapter"
    config MCUX_COMPONENT_middleware.wireless.ble_hci_transport_interface
        bool "Component middleware.wireless.ble_hci_transport_interface"
    config MCUX_COMPONENT_middleware.wireless.ble_gatt_db_dynamic
        bool "Component middleware.wireless.ble_gatt_db_dynamic"
    config MCUX_COMPONENT_middleware.wireless.ble_gatt_service_discovery
        bool "Component middleware.wireless.ble_gatt_service_discovery"
    config MCUX_COMPONENT_middleware.wireless.ble_gatt_db
        bool "Component middleware.wireless.ble_gatt_db"
    config MCUX_COMPONENT_middleware.wireless.ble_profiles_battery_service
        bool "Component middleware.wireless.ble_profiles_battery_service"
    config MCUX_COMPONENT_middleware.wireless.ble_profiles_device_info_service
        bool "Component middleware.wireless.ble_profiles_device_info_service"
        depends on (MCUX_HW_BOARD_kw45b41zevk || MCUX_HW_BOARD_k32w148evk || MCUX_HW_BOARD_frdmmcxw71)\
            || (MCUX_HW_BOARD_kw45b41zloc) || (MCUX_HW_BOARD_frdmmcxw72)\
            || (MCUX_HW_BOARD_kw47loc && MCUX_HW_CORE_ID_CM33_CORE0)\
            || (MCUX_HW_BOARD_kw47evk && MCUX_HW_CORE_ID_CM33_CORE0)\
            || (MCUX_HW_BOARD_mcxw72evk && MCUX_HW_CORE_ID_CM33_CORE0)
    config MCUX_COMPONENT_middleware.wireless.ble_profiles_ancs
        bool "Component middleware.wireless.ble_profiles_ancs"
        depends on (MCUX_HW_BOARD_kw45b41zevk || MCUX_HW_BOARD_k32w148evk || MCUX_HW_BOARD_frdmmcxw71)\
            || (MCUX_HW_BOARD_kw47evk && MCUX_HW_CORE_ID_CM33_CORE0)\
            || (MCUX_HW_BOARD_mcxw72evk && MCUX_HW_CORE_ID_CM33_CORE0)
    config MCUX_COMPONENT_middleware.wireless.ble_profiles_time
        bool "Component middleware.wireless.ble_profiles_time"
        depends on (MCUX_HW_BOARD_kw45b41zevk || MCUX_HW_BOARD_k32w148evk || MCUX_HW_BOARD_frdmmcxw71)\
            || (MCUX_HW_BOARD_kw47evk && MCUX_HW_CORE_ID_CM33_CORE0)\
            || (MCUX_HW_BOARD_mcxw72evk && MCUX_HW_CORE_ID_CM33_CORE0)
    config MCUX_COMPONENT_middleware.wireless.ble_profiles_hid
        bool "Component middleware.wireless.ble_profiles_hid"
        depends on (MCUX_HW_BOARD_kw45b41zevk || MCUX_HW_BOARD_k32w148evk || MCUX_HW_BOARD_frdmmcxw71)\
            || (MCUX_HW_BOARD_kw47evk && MCUX_HW_CORE_ID_CM33_CORE0)\
            || (MCUX_HW_BOARD_mcxw72evk && MCUX_HW_CORE_ID_CM33_CORE0)
    config MCUX_COMPONENT_middleware.wireless.ble_profiles_temperature
        bool "Component middleware.wireless.ble_profiles_temperature"
        depends on (MCUX_HW_BOARD_kw45b41zevk || MCUX_HW_BOARD_k32w148evk || MCUX_HW_BOARD_frdmmcxw71)\
            || (MCUX_HW_BOARD_kw45b41zloc) || (MCUX_HW_BOARD_frdmmcxw72)\
            || (MCUX_HW_BOARD_kw47loc && MCUX_HW_CORE_ID_CM33_CORE0)\
            || (MCUX_HW_BOARD_kw47evk && MCUX_HW_CORE_ID_CM33_CORE0)\
            || (MCUX_HW_BOARD_mcxw72evk && MCUX_HW_CORE_ID_CM33_CORE0)
    config MCUX_COMPONENT_middleware.wireless.ble_profiles_wireless_uart
        bool "Component middleware.wireless.ble_profiles_wireless_uart"
    config MCUX_COMPONENT_middleware.wireless.ble_profiles_otap
        bool "Component middleware.wireless.ble_profiles_otap"
        depends on (MCUX_HW_BOARD_kw45b41zevk || MCUX_HW_BOARD_k32w148evk || MCUX_HW_BOARD_frdmmcxw71)\
            || (MCUX_HW_BOARD_kw47evk && MCUX_HW_CORE_ID_CM33_CORE0)\
            || (MCUX_HW_BOARD_mcxw72evk && MCUX_HW_CORE_ID_CM33_CORE0)
    config MCUX_COMPONENT_middleware.wireless.ble_profiles_digital_key
        bool "Component middleware.wireless.ble_profiles_digital_key"
        depends on (MCUX_HW_BOARD_kw45b41zevk || MCUX_HW_BOARD_kw45b41zloc || MCUX_HW_BOARD_kw47evk || MCUX_HW_BOARD_kw47loc)
    config MCUX_COMPONENT_middleware.wireless.ncp
        bool "Component middleware.wireless.ncp"
endmenu