root = .						# root  point to ranging directory
xml = ./gcovoutput/coverage.xml			# xml output file
html-details = yes						# info about each source file
output = ./gcovoutput/index.html		# html output file
gcov-parallel = yes						# parallel execution of gcov
verbose = no							# enable/disable verbose 
exclude-unreachable-branches = yes		# exclude branch info
exclude-throw-branches = yes			# exclude throw info

# filter for output selection

