config MCUX_COMPONENT_middleware.wireless.ble_port_fsci_component_button_core1
    bool "ble_port_fsci_component_button_core1"
config MCUX_COMPONENT_middleware.wireless.ble_port_fsci_component_led_core1
    bool "ble_port_fsci_component_led_core1"
config MCUX_COMPONENT_middleware.wireless.ble_port_fsci_sensors_core1
    bool "ble_port_fsci_sensors_core1"
config MCUX_COMPONENT_middleware.wireless.ble_port_fsci_component_reset_core1
    bool "ble_port_fsci_component_reset_core1"
config MCUX_COMPONENT_middleware.wireless.ble_port_fsci_platform_core1
    bool "ble_port_fsci_platform_core1"
config MCUX_COMPONENT_middleware.wireless.ble_port_fsci_component_lcl_core1
    bool "ble_port_fsci_component_lcl_core1"
config MCUX_COMPONENT_middleware.wireless.ble_port_fsci_shell_core1
    bool "ble_port_fsci_shell_core1"
config MCUX_COMPONENT_middleware.wireless.ble_port_fsci_nvm_core1
    bool "ble_port_fsci_nvm_core1"
